/* Common */
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: "Noto Sans KR", "본고딕", "Nanum Gothic", "Malgun Gothic",
		sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.025em;
	color: #424242;
	word-wrap: break-word;
	word-break: keep-all;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

mark {
	background: none;
	color: inherit;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

address {
	font-style: normal;
}

input {
	vertical-align: middle;
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	font-family: "본고딕", "Noto Sans KR", "Nanum Gothic", "Malgun Gothic",
		sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.025em;
	color: #424242;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
}

textarea {
	vertical-align: middle;
	width: 100%;
	resize: none;
}

button {
	padding: 0;
	border: 0;
	background: none;
	line-height: 1;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
}

hr {
	margin: 0;
	border: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}

table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

::before, ::after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.w100p {
	width: 100%;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	font-weight: 300;
	letter-spacing: -0.03em;
	cursor: pointer;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.btnS {
	width: 4.222rem;
	height: 1.777rem;
	border-radius: 20px;
	font-size: 0.889rem;
	font-weight: 400;
}

.btnR {
	width: 5.556rem;
	height: 2.222rem;
	border-radius: 0px;
	font-size: 0.889rem;
	font-weight: 400;
}

.btnM {
	min-width: 3.656rem;
	height: 26px;
	padding: 0 12px;
	border-radius: 4px;
	font-size: 0.889rem;
	font-weight: 400;
	position: relative;
	line-height: 24px
}

.btnB {
	width: 8.889rem;
	height: 3.556rem;
	border-radius: 4px;
	font-size: 1.333rem;
	font-weight: 400;
}

.btn001 {
	border: 1px solid #05A4BC;
	background-color: #fff;
	color: #05A4BC;
}

.btn002 {
	background-color: #5a7a77;
	color: #fff;
}

.btn003 {
	background-color: #07B3CF;
	color: #fff;
}

.btn001:hover {
	background-color: #E0F6FA;
}

.btn002:hover {
	background-color: #415c5a;
}

.btn003:hover {
	background-color: #06A5BC;
}

/* login.jsp */
.login-wrap {
	position: relative;
}

#viewport {
	height: 100% !important;
}

#login-view {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
	background-size: cover;
}

#login-view .login-inner {
	display: table-cell;
	margin: 0;
	padding: 0;
	height: 100%;
	vertical-align: middle;
}

#login-view .view-inner {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 4.444rem;
}

.main-inner {
	width: 100%;
	max-width: 1082px;
	margin: 0 auto;
	display: table;
	background: #fff;
	box-shadow: 0px 15px 40px -22px rgba(0, 0, 0, 0.25);
}

.login-warp {
	display: table-cell;
	vertical-align: middle;
}

.login-logo {
	text-align: left;
}

.login-logo .txt_box {
	display: inline-block;
	padding-left: 10px;
	padding-top: 3px;
}

.login-area {
	overflow: hidden;
	margin: 15px auto 15px auto;
	padding: 0 50px;
	width: 25rem;
	display: inline-block;
	box-sizing: border-box;
}

.login-area h2 {
	font-size: 40px;
	font-weight: bold;
	color: #5f926e;
	padding-bottom: 5px;
}

.login-area p {
	font-size: 13px;
	color: #9E9E9E
}

.login-area .login-form {
	margin: 45px 0;
	padding: 0;
}

.login-area .login-input-box>ul>li {
	position: relative;
	margin: 10px 0;
}

.login-area .login-input-box>ul>li>label {
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5rem;
	text-align: center;
	line-height: 48px;
}

.login-area .login-input-box>ul>li>label::after {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 0;
	margin: auto;
	border-right: 1px solid #e0e0e0;
	content: "";
}

.login-area .login-input-box>ul>li:hover>label {
	color: #00aaaa;
}

.login-area .login-input-box>ul>li>.text {
	padding-left: calc(2.5rem + 10px);
	background: #EAEEF3;
	border-color: #EAEEF3
}

.login-area .text {
	height: 48px;
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	overflow: hidden !important;
}

.login-area .login-form>button {
	height: 64px;
	font-size: 24px;
}

#login-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: #F5F7FA;
}

#login-footer:before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 3%;
	width: 40px;
	height: 32px;
}

#login-footer address {
	text-align: center;
	margin: 0 20px;
	border-top: 1px solid #ddd;
}

#login-footer address p {
	padding: 18px 0;
	font-size: 16px;
	font-weight: 200;
	color: #757575;
}

#header {
	width: 1920px;
	top: 0;
	left: 0;
	border-bottom: 1px solid #B1BFC6;
	background: #fff;
	position: fixed;
	z-index: 999;
	height: 75px;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.09)
}

#header>.inr {
	position: relative;
	padding: 0;
	max-width: 1770px;
	margin: 0 auto;
	height: 75px;
}

#header .logo {
	width: 8.5%;
	padding: 8px 0;
	float: left;
}

.lnb_p {
	display: block;
	float: left;
	width: 74%;
	min-height: 75px;
	margin: 0;
	height: 75px;
}

#header .logo>h1 {
	height: 75px;
	position: absolute;
	width: 155px;
	background: #181818;
	top: -21px;
	left: 0;
	z-index: 1001;
	margin-left: 25px;
}

#header .logo img {
	width: 130px;
	height: 70px;
	max-width: inherit;
	padding-top: 10px;
}

#header .logo a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#header>.inr>.gnb_p {
	display: block;
	float: left;
	text-align: right;
	padding: 22px 0;
}

#header>.inr::after {
	display: block;
	clear: both;
	content: "";
}

.lnb_p .dep1 {
	font-size: 55px;
	text-align: left;
	height: 75px;
}

.lnb_p ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.lnb_p .dep1>li {
	display: inline-block;
	position: relative;
	margin-left: 40px;
	width: auto !important;
	text-align: center;
	height: 75px;
}

.lnb_p .dep1>li:hover>a {
	color: #05A4BC
}

.lnb_p .dep1>li>a {
	overflow: hidden;
	height: 75px;
	padding: 0 12px;
	font-size: 18px;
	font-weight: 400;
	text-align: right;
	line-height: 75px;
	color: #212121;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: table-cell;
	vertical-align: middle;
}

.lnb_p .dep1 li:first-child {
	font-size: 20px;
}

.gnb_p .gnb_info {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 8px;
}

.gnb_p .gnb_info li {
	display: inline-block;
}

.gnb_p .gnb_info li a {
	font-size: 14px;
	padding: 0 5px;
	position: relative;
}

.gnb_p .gnb_info li:first-child a::before {
	content: '';
	position: absolute;
	right: -3px;
	width: 1px;
	height: 10px;
	background: #ddd;
	top: 50%;
	transform: translateY(-50%);
}

.gnb_p .gnb_list {
	display: inline-block;
}

.gnb_p .gnb_list li {
	display: inline-block;
}

.gnb_p .gnb_list li button {
	width: 76px;
	height: 32px;
}

.gnb_p .gnb_list li button a {
	font-size: 12px;
	line-height: 30px;
}

.lnb_depth {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1000;
	float: none;
	box-sizing: border-box;
	min-width: 1280px;
}

.lnb_depth>ul>li>div {
	display: none;
	padding-top: 0px;
	background: #fafafa;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.09);
	border-top: 1px solid #B1BFC6;
}

.lnb_depth>ul>li>div .sub_nav_wrap {
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 1280px; 
	margin: 0 auto;
}

.lnb_depth>ul>li>div div.sub_menu_cont1 {
	display: table-cell;
	position: relative;
	width: 111px;
	padding: 2px 0 0 0;
	box-sizing: border-box;
	font-size: 14px;
	text-align: left;
	vertical-align: top;
}

.quick_menu {
	padding: 15px 0;
	background: #DFF6FA
}

.quick_menu>li {
	height: 107px;
}

.quick_menu>li:nth-child(2) {
	border-top: 1px Solid #B8DBE1;
	border-bottom: 1px Solid #B8DBE1
}

.quick_menu>li>a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 19px;
	box-sizing: border-box;
}

.quick_menu>li>a>p {
	font-size: 15px;
	color: #648A91;
	margin-top: 8px;
}

.lnb_depth .dep2 {
	display: table-cell;
	width: calc(100% - 185px);
	box-sizing: border-box;
	font-size: 0;
	text-align: left;
	white-space: normal;
}

.lnb_depth .dep2>li {
	display: inline-block;
	vertical-align: top;
	min-height: 80px;
	border-right: 1px solid #E9E9E9;
	width: 20%;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
	text-align: left;
	height: 100%;
	position: relative;
}

.lnb_depth .dep2>li:hover>a {
	color: #07B3CF
}

.lnb_depth .dep2>li:nth-child(6) {
	border-right: 0px;
}

.lnb_depth .dep2>li:nth-child(6):after {
	content: '';
	clear: both;
	display: block;
}

.lnb_depth .dep2>li:nth-child(7) {
	border-left: 0px;
}

.lnb_depth .dep2>li:nth-child(n+6) {
	margin-top: 15px
}

.lnb_depth .dep2>li>a {
	overflow: hidden;
	position: relative;
	padding: 0;
	font-size: 17px;
	font-weight: 400;
	color: #424242;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.lnb_depth .dep2>div>li {
	display: inline-block;
	vertical-align: top;
	min-height: 88px;
	border-right: 1px solid #ECEFF1;
	width: 20%;
	padding: 15px 0 15px 12px;
	box-sizing: border-box;
	text-align: left;
	height: 100%;
	position: relative;
}

.lnb_depth .dep2>div>li:hover>a {
	color: #07B3CF
}

.lnb_depth .dep2>div>li:nth-child(6) {
	border-right: 0px;
}

.lnb_depth .dep2>div>li:nth-child(6):after {
	content: '';
	clear: both;
	display: block;
}

.lnb_depth .dep2 .dep2_top>li {
	display: table-cell;
	min-width: 195px
}

.lnb_depth .dep2 .dep2_bottom>li {
	min-height: 225px;
	min-width: 195px;
	margin-top: 15px;
	padding: 15px 1px 15px 12px;
}

.lnb_depth .dep2>div>li:nth-child(7) {
	border-left: 0px;
}

.lnb_depth .dep2>div>li:nth-child(n+7) {
	margin-top: 15px
}

.lnb_depth .dep2>div>li>a {
	overflow: hidden;
	position: relative;
	padding: 0;
	font-size: 21px;
	font-weight: 400;
	color: #424242;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.lnb_depth .dep3 {
	margin-top: 15px;
}

.lnb_depth .dep3>li {
	display: block;
}

.lnb_depth .dep3>li+li {
	margin-top: 12px;
}

.lnb_depth .dep3>li>a {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	font-size: 15px;
	font-weight: 300;
	color: #929292;
	letter-spacing: -.04em
}

.lnb_depth .dep3>li>a:hover {
	color: #07B3CF
}

.lnb_depth .dep3>li>a::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -5px;
	background: #ddd;
	width: 5px;
	height: 1px;
}